html,
body {
    height: 100%;
}

main {
    flex: 1;
}

.content-wrapper {
    flex: 1;
}

aside {
    min-width: 200px;
}

aside .nav-pills .nav-link {
    border-radius: 0;
    color: #444444;
}

aside .nav-pills .nav-link:hover{
    background: rgba(0, 0, 0, 0.05);
}

aside .nav-pills .nav-link.active {
    background: rgba(0, 0, 0, 0.05);
    color: #165ffb;
    border-left: 4px solid #165ffb;
}

.upload-icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color: #454545;
}

.btn-file {
    position: relative;
}

.btn-file input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.thumbnail{
    width: 120px;
}

.chat-window{
    height: 500px;
    overflow-y: scroll;
}

.chat-bubble{
    float: left;
    clear: both;
    margin-top: 20px;
}

.chat-bubble p{
    color: gray;
    font-size: 12px;
    margin: 8px 0 0 10px;
}

.chat-bubble-body{
    background-color: #f5f6f7;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.chat-bubble-blue{
    background-color: #48b0f7;
    color: white;
}

.chat-notice{
    color: #6c757d;
    font-size: smaller;
    padding: 5px;
    margin: 10px 0 10px 5px;
    border-radius: 5px;
}

