html,
body {
    height: 100%;
}

main {
    flex: 1;
}

.content-wrapper {
    flex: 1;
    margin-bottom: 200px;
}

aside {
    min-width: 200px;
}

aside .nav-pills .nav-link {
    border-radius: 0;
    color: #444444;
}

aside .nav-pills .nav-link:hover{
    background: rgba(0, 0, 0, 0.05);
}

aside .nav-pills .nav-link.active {
    background: rgba(0, 0, 0, 0.05);
    color: #165ffb;
    border-left: 4px solid #165ffb;
}

.upload-icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color: #454545;
}

.btn-file {
    position: relative;
}

.btn-file input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.channel-link {
    color: #606060 !important;
}

.channel-link:hover {
    text-decoration: none;
}

.thumbnail{
    width: 120px;
}

.search-button{
    border-color: lightgray;
}

.video-item{
    width: 14rem;
}

.comment-avatar{
    width: 50px;
}

.create-comment .comment-buttons{
    display: none;
}

.create-comment.focused .comment-buttons{
    display: block;
}